@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
    font-size: 62.5%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: 2px;
  font-size: 3rem;
}
input{
    outline: none;
    border: none;
}
.start__fon{
    background: url(./images/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.user__info{
    display: flex;
    flex-direction: column;
}
.user__info label{
    font-size: 3rem;
    font-weight: 700;
}
.user__info input{
    width: 70%;
    font-size: 3rem;
    padding: 1rem;
    border: 3px solid #111;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.user__info input::placeholder{
    color: #000;
}
.ranWord{
    text-align: center;
    margin-top: 2.5rem;
}

.display__box{

    display: none;
    flex-direction: column;
    width: 50rem;
    height: 50rem;
    padding: 0  2.5rem;
    background:linear-gradient(25deg, #7effc5,#ead535);
    border-radius: 10px;
}
.game__start{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
}

.start__title{
    font-size: 4rem;
    margin: 2rem 0 3rem 0;
    display:flex;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(to right, #0cf40c, #ff0000,   #0bffb6, #1cf0ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.next{
    margin: 2rem auto;
    width: 10rem;
    padding: 1rem;
    font-size: 3rem;
    color: #fff;
    background-color: #ff0000;
    cursor: pointer;
    border: 1px solid #ff0000;
    border-radius: 2px;
}
.next:hover{
    color: #ff0000;
    background-color: #fff;
}
.next:active{
    color: #fff;
    background-color: #ff0000;
    opacity: 0.6;
}
.input__word{
    width: 80%;
    margin: 2rem auto 23rem auto;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 500;
    color: #000;
    border-radius: 10px;
}
.input__word::placeholder{
    font-size: 3rem;
    color:#000;
}
.score-and-time__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose__level{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.level__fon{
    background: url(./images/level__fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.choose__level  h1{
text-transform: uppercase;
color: #fff;
}
.level{
    display: flex;
    gap: 3rem;
}
.level div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    color: #fff;
    border-radius: 50%;
    text-transform: uppercase;
    cursor: pointer;
}
.level div:hover{
    opacity: 0.8;
}
.level div:active{
    opacity: 0.6;
}
.easy{
    background-color: rgba(12, 244, 12, 0.8);
    backdrop-filter: blur(5px);
}
.medium{
    background-color: rgba(234, 213, 53, 0.8);
    backdrop-filter: blur(5px);
}
.hard{
    background-color: rgba(255, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}
.gameOver{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}
.modal__box{
display: flex;
flex-direction: column;
align-items: center;
padding: 1rem 10rem 1rem 10rem;
background:linear-gradient(130deg,#ff8800,#06ed81);
border-radius: 12px;
}
.modal__box h3{
    margin:2rem 0 4rem 0;
}
.replay{
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(25, 25, 135);
    color: #fff;
    margin-top: 2rem;
}
.replay:hover{
    opacity: 0.8;
}
.replay:active{
    opacity: 0.6;
}
.none{

    display: none;
}